/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#tsparticles {
    position: absolute; /* fixed !important; */
    left:0;
    top:0;
    width:100%;
    height:100%;
}